@charset "utf-8";

main{
    width:80%;
    margin:auto;
    padding-top: 20px;
    text-align: left;
}
form{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}
.form-group{
    margin-bottom:40px;
    padding-left:40px;
}
.form-control{
    width:100%;
}
#studId{
    margin: 0 0 30px 20px;
}
#studId label{
    margin:10px 0px;
}

#studentId{
    width:200px;
    margin-left:10px;
}
.form-check ,.form-group textarea{
    margin-left:20px;
    font-size: 12px;
}
.form-group textarea{
    width:90%;
    height:100px;
}
button{
    margin:-10px 0 0 15px;
}
/***************print style************/
@media print{
    header,nav,footer {
        display:none;
    }
    body{
        width: auto;
		margin: 0;
        padding: 0;
        float:none;
    }
    h2, h2, h4, h5, h6, .form-check { page-break-after: avoid;}
    .form-group label{ 	page-break-before: always;	}
    .form-group{ margin-bottom: 8px; }
    #notPrinted{ display:none;}
}