@charset "utf-8";

.accent{
  color: #b37d4e  
}


main {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    width: 85%;
    margin: 0;
    min-width: 400px;
}

header{
    display: flex;
    align-items: center;
    background-color: #003f6b;
    color: #ffffff;
}

/* .affix {
    right: 0;
} */

.pad{
    padding-right: 15px;
}

#headnav{
    margin-bottom: 0;
    border-radius: 0;
}

/* #myNavbar .navbar-nav>.active>a,  .navbar-nav>.active>a:focus,  .navbar-nav>.active>a:hover{
    background-color: #00365c;
} */

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.sidenav ul, li {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    text-align: left;
}

/* .article{
    padding: 0 45px;
} */

.gutter{
    height:100%;
}

footer {
  /* position: absolute;
  bottom: 0; */
  background-color: #555;
  color: white;
  width: 100%;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}

@media screen and (max-width: 910px) {
    header h1{
        font-size: 24px;
    }
}